.menu-cards {
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    position: relative;
  }

  .menu-cards .card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 10px;
    color: #616161;
  }

  .menu-cards .card:hover {
    color: #212121;
    cursor: pointer;
  }

  .card-inside {
    z-index: 2;
    position: relative;
  }

  .card > img {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100px;
    height: auto;
    transform: rotate(90deg);
  }

  #new-game:hover {
    transform: rotate(-4deg);
  }

  #join-game:hover {
    transform: rotate(4deg);
  }