.game-code-window {
    font-family: 'Cairo', Georgia, sans-serif;
    text-align: center;
    height: 50px;
    padding: 15px;
    font-size: 28px;
    border-radius: 8px;
    margin: 8px;
    background-color: #ffffff;
    outline: none;
    position: relative;
}

.game-code-window:focus::placeholder {
    color: transparent;
}

.submit-code {
    font-family: 'Cairo', Georgia, sans-serif;
    background-color: #ffffff;
    font-size: 20px;
    margin: 8px;
    cursor: pointer;
    display: inline-block;
    white-space: normal;
    outline: none;
    box-shadow: 0px 4px 4px 0px #616161;
    border-radius: 8px;
}

.submit-code:hover {
    background-color: #4b7554;
}