.game-code-window {
    font-family: 'Cairo', Georgia, sans-serif;
    text-align: center;
    height: 84px;
    padding: 24px;
    font-size: 28px;
    border-radius: 8px;
    margin: 24px;
    background-color: #ffffff;
    outline: none;
    position: relative;
}

.game-code-window:focus::placeholder {
    color: transparent;
}

.small {
    width: 128px;
  }  