.full_height {
    height: 100%;
    text-align: center;
    font-size: 25px;
}

.logo {
    display: inline-block;
}

.logo > img {
    margin-top: 15%;
    max-width: 300px;
    padding-bottom: 10px;
}

h2 {
    font-size: 2em;
}