* {
  box-sizing: border-box;
}

html, body, #root, .bgio-client {
  margin: 0;
  padding: 0;
  font-family: "Cairo", Georgia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(82,78,144);
  background: linear-gradient(53deg, rgba(82,78,144,1) 0%, rgba(71,145,59,1) 63%, rgba(56,76,80,1) 100%);
  height: 100%;
}

#root, input {
  letter-spacing: 2px;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}