* {
  box-sizing: border-box;
}

html, body, #root, .bgio-client {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', Georgia, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #777777;
    height: 100%;
  }

  /* #4b7554 */